@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #134f5c;
    color: #cfe2f3;
    font-family: 'Fira Code', 'monospace';
}

.container {
    margin-top: 10%;
    padding: 30px;
    
}


.row {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    grid-gap: 30px;
    
}

@media screen and (min-width: 600px) {
    .row{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
    }  
    h2 {
        font-size: 40px !important;
    }
    }
    

.card {
    box-shadow: 0 2px 10px rgba(4, 37, 36, 0.568);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 150px;
    border-radius: 20px;
}

h1 {
    font-size: 70px;
    
}
h2 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 1rem;

}
.fa-solid {
    color: #ffd966;
}

span {
    font-size: 20px;
    font-weight: 900;
    color: #cfe2f3;
    
}
#reload{
    margin: 20px;
    border: 0;
    border-radius: 50%;
    padding: 30px;
    background-color: #ffd966;
    color: #134f5c;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 900 !important;
    opacity: 0.9;
    transition: 0.5s;
    
}
#reload:hover {
    opacity: 1;
    border-radius: 35%;
}
